body
{
  font-family: 'roboto mono', monospace;

  background-color: #111;
  
  margin-left: 5%;
}

p
{
  margin: 25px 0;
}

button
{
  font-family: 'roboto mono', monospace;
  color: #fff;
  font-size: 20pt;
  background-color: #555;

  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 20px 0 5px;
}

#display,
#result,
#generation
{
  font-size: 30pt;

  color: #fff;
}

.information
{
  display: flex;
  justify-content: space-between;

  width: 330px;
  margin-right: -3%;

  color: white;
}

#cache
{
  display: inline-block;
  overflow-y: scroll;

  width: 20%;
  min-width: 200px;
  height: 200px;

  color: white;
}

#fitness
{
  display: inline-block;
  overflow-y: scroll;

  width: 20%;
  min-width: 200px;
  height: 200px;

  color: white;
}

#cache::-webkit-scrollbar,
#fitness::-webkit-scrollbar
{
  display: none;
}
